* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

.location {
  background-color: #fafafa;
  border: 1px solid #000000;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 0 5rem;
}
.cart {
  width: 14rem;
  margin-left: 15.25rem;
  cursor: pointer;
}
.head {
  cursor: pointer;
}
.offer {
  margin-left: 2rem;
  font-weight: 500;
  font-size: 15px;
}
.offer a {
  font-weight: 700;
  color: #fc8a06;
  font-size: 13px;
}
.add {
  margin-left: 10rem;
  font-weight: 500;
  font-size: 15px;
}
.addres {
  width: 3rem;
  height: 3rem;
}
.changelocation {
  font-weight: 500;
  color: #fc8a06;
  font-size: 12px;
}
.logo {
  margin-left: 4rem;
  margin-top: 1rem;
}
.logoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  margin-top: 1rem;
}

.navList {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 3rem;
}

.navItem {
  text-decoration: none;
  color: #03081f;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 0 1rem;
  transition: color 0.3s ease;
}
.navLastItem {
  background-color: #03081f;
  color: #ffffff;
  text-decoration: none;
  border-radius: 120px;
  padding: 0.7rem 2rem;
  font-weight: 500;
  font-size: 16px;
}
.head {
  margin-top: 2rem;
  margin-left: 4rem;
  width: 18rem;
}
.orderContainer {
  display: flex;
  justify-content: space-around;
}
.orderDetails {
  border: 1px solid #03081f;
  border-radius: 12px;
  margin-top: 2rem;
  width: 50%;
  padding: 1rem;
}
.orderItems {
  margin-left: 1rem;
}
.items {
  display: flex;
  gap: 1rem;
}
.name {
  margin-top: 2rem;
  color: #03081f;
  font-weight: 600;
}
.quantity {
  margin-top: 4rem;
  color: #83858a;
  font-weight: 400;
  text-align: left;
  font-size: 0.75rem;
}
.itemImage {
  width: 4rem;
  margin-top: 1rem;
  float: left;
}
.price {
  text-align: right;
  color: #028643;
}
.input {
  border: 1px solid #202938;
  border-radius: 100px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  width: 95%;
}
.orderSummary {
  width: 35%;
  margin-top: 2rem;
}
.Label {
  border-radius: 50px;
  border: 1px solid #03081f;
  margin-top: 2rem;
  width: 50%;
}
.imageContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.Arrow {
  display: inline;
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.calculation {
  margin-left: 3rem;
  color: #83858a;
  margin-bottom: 1rem;
}
.subtotal {
  margin-top: 2rem;
  margin-left: 3rem;
}
.payment {
  margin-top: 1rem;
  background-color: #fc8a06;
  color: #ffffff;
  border-radius: 100px;
  padding: 1rem 10rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.similarres {
  margin-left: 4rem;
}
.restaurantImage {
  width: 10rem;
  margin-left: 4rem;
  height: 10rem;
  cursor: pointer;
}
.restaurantList {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.footer {
  background-color: #d9d9d9;
}
.footerContainer {
  display: flex;
  justify-content: space-between;
}
.leftSection {
  padding-left: 3rem;
  padding-top: 0rem;
}
.companyInfo {
  font-size: 14px;
  font-family: "Poppins", "sans-serif";
  font-weight: 400;
}
.logo2 {
  width: 16rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.appStoreImage {
  margin-bottom: 1rem;
}
.centerSection h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-top: 2rem;
  color: #03081f;
  margin-bottom: 2rem;
}
.emailInput {
  border-radius: 120px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 10px;
  width: 15rem;
  border: none;
}
.subscribe {
  margin-bottom: 1rem;
}
.subscribeButton {
  background-color: #fc8a06;
  color: #ffffff;
  border-radius: 120px;
  border: none;
  width: 7rem;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.policyText {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #03081f;
  margin-bottom: 1rem;
}
.policyText a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #03081f;
}
.socialIcon {
  margin-left: 1rem;
}
.rightSection {
  display: flex;
  justify-content: space-around;
}
.rightSection h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.legalLinks {
  margin-top: 3rem;
  list-style-type: none;
  margin-left: 1rem;
}
.legalLinks a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  margin-left: 4rem;
  margin-bottom: 2rem;
}
.footerBottom {
  background-color: #03081f;
  display: flex;
  justify-content: space-around;
  gap: 10rem;
}
.footerBottom p {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin: 1rem 0;
}
.footerLinks {
  margin: 1rem 0;
}
.footerLinks a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  margin-right: 2rem;
}
