* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

.location {
  background-color: #fafafa;
  border: 1px solid #000000;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 0 5rem;
}
.cart {
  width: 14rem;
  margin-left: 15.25rem;
  cursor: pointer;
}
.offer {
  margin-left: 2rem;
  font-weight: 500;
  font-size: 15px;
}
.offer a {
  font-weight: 700;
  color: #fc8a06;
  font-size: 13px;
}
.add {
  margin-left: 10rem;
  font-weight: 500;
  font-size: 15px;
}
.addres {
  width: 3rem;
  height: 3rem;
}
.changelocation {
  font-weight: 500;
  color: #fc8a06;
  font-size: 12px;
}
.logo {
  margin-left: 4rem;
  margin-top: 1rem;
}
.logoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  margin-top: 1rem;
}

.navList {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 3rem;
}

.navItem {
  text-decoration: none;
  color: #03081f;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 0 1rem;
  transition: color 0.3s ease;
}
.navLastItem {
  background-color: #03081f;
  color: #ffffff;
  text-decoration: none;
  border-radius: 120px;
  padding: 0.7rem 2rem;
  font-weight: 500;
  font-size: 16px;
}
.arrowleft {
  margin-left: 3rem;
  margin-top: 2rem;
  cursor: pointer;
}
.Address {
  display: flex;
}
.Address h2 {
  margin-top: 2rem;
}
.container {
  display: flex;
  justify-content: space-around;
}
.editButton {
  background-color: #fc8a06;
  padding: 0rem 5rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.inputGroup {
  margin-top: 2rem;
}
.input {
  margin-top: 1rem;
  width: 42%;
  margin-left: 4rem;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 8px;
}
.iconcontainer {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}
.iconcontainer h4 {
  margin-top: 2rem;
}
.namelabel {
  margin-left: 3rem;
  margin-left: 20rem;
}
.payment h2 {
  margin-left: 3rem;
}
.savedcardcontainer {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.savedcardinfo {
  display: flex;
  justify-content: space-around;
  border: 0.5px solid #00000080;
  border-radius: 12px;
}
.savedcardinfo p {
  font-weight: 400;
  font-size: 1rem;
}
.savedcardinfo span {
  font-weight: 400;
  font-size: 0.75rem;
}
.editicon {
  width: 1rem;
  height: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
  margin-top: 1.5rem;
}
.addnewcardinfo {
  display: flex;
  justify-content: space-around;
  border: 0.5px solid #00000080;
  border-radius: 12px;
}
.addicon {
  width: 2rem;
  height: 2rem;
  margin-top: 2rem;
  margin-left: 1rem;
  cursor: pointer;
}
.addnew {
  margin-top: 2rem;
  margin-right: 1rem;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 40.8px 0px #00000040;
  border-radius: 12px;
}
.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  width: 90%;
  max-width: 770px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.paymentinput {
  width: 70%;
  margin-left: 1rem;
  border: 2px solid #afafaf;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  margin-top: 1rem;
}
.modalContent label {
  margin-right: 4rem;
}
.modalActions {
  background-color: #fc8a06;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 4px 4px 40.8px 0px #00000040;
  border-radius: 12px;
}
.removeButton {
  background-color: #663700;
  color: #ffffff;
  padding: 0.75rem 1rem;
  margin-left: 1rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.buttons {
  display: flex;
  justify-content: space-around;
}
.cancelButton {
  color: #ffffff;
  margin-right: 2rem;
  cursor: pointer;
}
.saveButton {
  border: none;
  border-radius: 12px;
  color: #000000;
  background-color: #ffffff;
  padding: 0.75rem 1rem;
  cursor: pointer;
}
.footer {
  background-color: #d9d9d9;
}
.footerContainer {
  display: flex;
  justify-content: space-between;
}
.leftSection {
  padding-left: 3rem;
  padding-top: 0rem;
}
.companyInfo {
  font-size: 14px;
  font-family: "Poppins", "sans-serif";
  font-weight: 400;
}
.logo2 {
  width: 16rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.appStoreImage {
  margin-bottom: 1rem;
}
.centerSection h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-top: 2rem;
  color: #03081f;
  margin-bottom: 2rem;
}
.emailInput {
  border-radius: 120px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 10px;
  width: 15rem;
  border: none;
}
.subscribe {
  margin-bottom: 1rem;
}
.subscribeButton {
  background-color: #fc8a06;
  color: #ffffff;
  border-radius: 120px;
  border: none;
  width: 7rem;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.policyText {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #03081f;
  margin-bottom: 1rem;
}
.policyText a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #03081f;
}
.socialIcon {
  margin-left: 1rem;
}
.rightSection {
  display: flex;
  justify-content: space-around;
}
.rightSection h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.legalLinks {
  margin-top: 3rem;
  list-style-type: none;
  margin-left: 1rem;
}
.legalLinks a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  margin-left: 4rem;
  margin-bottom: 2rem;
}
.footerBottom {
  background-color: #03081f;
  display: flex;
  justify-content: space-around;
  gap: 10rem;
}
.footerBottom p {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin: 1rem 0;
}
.footerLinks {
  margin: 1rem 0;
}
.footerLinks a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  margin-right: 2rem;
}
